---
import { actions } from 'astro:actions';

import '@fontsource/ubuntu/300.css';
import '@fontsource/ubuntu/400.css';
import '@fontsource/ubuntu/500.css';
import '@fontsource/ubuntu/700.css';
import '@fontsource-variable/lora';

import DotsBackground from '@/components/dots-background/dots-background.tsx';
import BaseHead from '@/components/BaseHead.astro';
import Card from '@/components/card/Card.astro';
import Footer from '@/components/Footer.astro';
import Header from '@/components/header/Header.astro';

import { SITE_DESCRIPTION, SITE_TITLE } from '../consts';

import '../styles/tailwind.css';

const { data = { posts: [] } } = await Astro.callAction(actions.posts, { page: 1})
const { posts } = data;
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<section class="container flex flex-col gap-12 px-6 pb-14 pt-10 md:pt-14 mx-auto">
				<ul class="grid grid-cols-1 gap-12 md:grid-cols-2 xl:grid-cols-3">
					{
						posts.map((post, idx) => (
							<li class:list={[
								'flex',
								{ 'col-span-1 md:col-span-2 xl:col-span-3 mb-10': idx === 0 && post.featured }
								]}
							>
								<a class="flex-1" href={`/${post.slug}/`}>
									<Card
										class="h-full"
										variant={(post.featured && idx === 0)
											? 'featured'
											: 'post'
										}
										image={(post.cover_img as any) || import.meta.env.POST_COVER_PLACEHOLDER}
										title={post.title}
										description={post.description}
										avatar={{ name: 'David Acevedo', img: '/images/david-acevedo.webp' }}
										date={post.published_at}
										tags={post.tags}
									/>
								</a>
							</li>
						))
					}
				</ul>
			</section>
			<div class="pointer-events-none absolute top-0 z-[-1] h-full w-screen select-none overflow-x-hidden">
				<DotsBackground client:load speed={{ left: 55, right: 65 }} />
			</div>
		</main>
		<Footer />
	</body>
</html>